body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.title {
    color: #005b95;
    font-size: 20px;
    padding-bottom: 20px;
}

.subtitle {
    font-size: 14px;
}

span {
    color: #005b95;
    text-decoration: underline;
    font-weight: bold;
}

.content-home {
    width: 40%;
    text-align: center;
}